@font-face {
    font-family: "Jura";
    src: url(../fonts/Jura/Jura-Medium.ttf);
}
@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish/Mulish-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}


body.dark_theme{
    background: #1B1D25;
}
body.light_theme{
    background: #C2C6E2;
}

.wrapper_section_bgDecor{
    background-image: url(../img/bg_figure_01.png), url(../img/bg_figure_02.png), url(../img/bg_figure_03.png);
    background-repeat: no-repeat;
    background-position: right 20rem, right 90rem, right 180rem; 
}


header{
    width: 100%;
    font-family: 'Jura';
    padding: 2.5rem 4.5rem 0 4.5rem;
}
.navigation_content_section{
    display: flex;
    justify-content: end;
    align-items: center;
}
.switch_buttons_section{
    display: flex;
}
.containers_navigation_content ul{
    width: auto;
    list-style: none;
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
}
body.dark_theme .containers_navigation_content ul li a{
    color: #E4E6F5;
}
body.light_theme .containers_navigation_content ul li a{
    color: #20232F;
}
.containers_navigation_content ul li a{
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: -0.5%;
}
body.dark_theme .containers_navigation_content ul li a:hover,
body.light_theme .containers_navigation_content ul li a:hover{
    color: #3D36BA;
    text-shadow: 0px 0px 4px rgba(61, 54, 186, 0.35);
}

.theme_navigation_switcher{
    margin: 0 1.5rem 0 3.5rem;
}
body.dark_theme .theme_navigation_switcher,
body.dark_theme .language_navigation_buttons{
    background-color: #21232D;
} 
body.light_theme .theme_navigation_switcher,
body.light_theme .language_navigation_buttons{
    background-color: #F4F5FA;
} 
.theme_navigation_switcher, .language_navigation_buttons{
    display: flex; 
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 5rem;
    height: 2.5rem;
}
.switch-checkbox {
    display: none;
}
.switch-label {
    display: flex;
    width: 2.5rem;
    cursor: pointer;
}
.switch-label_01{
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}
.switch-label_02{
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}
body.dark_theme .switch-btn{
    color: rgba(217, 219, 241, 36%);
}
body.light_theme .switch-btn{
    color: rgba(32, 35, 47, 36%);
}
.switch-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.switch-btn p{
    font-size: 1rem;
    letter-spacing: -0.5%;

}
body.dark_theme .switch-checkbox:checked + .switch-label{
    background-color: #1E2029;
}
body.light_theme .switch-checkbox:checked + .switch-label {
    background-color: #E3E5F4;
}
.switch-checkbox:checked + .switch-label svg,
.switch-checkbox:checked + .switch-label p {
    color: #3D36BA;
    filter: drop-shadow(0px 0px 4px rgba(61, 54, 186, 1));
}
.logo_section{
    display: none;
}
.burger_menu_section{
    display: none;
}


@media screen and (max-width: 984px){
    .logo_section, .burger_menu_section{
        position: absolute;
        z-index: 9999;
        display: block;
    }
    .burger_menu_section{
        right: 4.5rem;
    }
    .navigation_content_section{
        position: absolute;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 8888;
        display: grid;
        place-content: center;
        display: none;
    }
    body.dark_theme .navigation_content_section{
        background-color: #1B1D25;
    }
    body.light_theme .navigation_content_section{
        background-color: #C2C6E2;
    }
    .containers_navigation_content{
        order: 2;
    }
    .containers_navigation_content ul{
        display: grid;
        text-align: center;
        row-gap: 1.75rem;
    }
    .switch_buttons_section{
        order: 1;
        margin-bottom: 3.5rem;
        display: flex;
    }
    .theme_navigation_switcher{
        margin: 0 1.5rem 0 0rem;
    }

    header{
        display: flex;
        justify-content: space-between;
    }
    .burger_menu_section svg{
        font-size: 2.125rem;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
    }
    .close_burger_menu{
        position: fixed;
    }
    body.light_theme .burger_menu_section svg,
    body.light_theme .logo{
        color: #20232F;
    }
    body.dark_theme .burger_menu_section svg,
    body.dark_theme .logo{
        color: #E4E6F5;
    }
    .logo{
        font-size: 1.5rem;
    }
}

main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    column-gap: 2.375rem;
    font-family: "Jura";
    margin-top: 1.5rem;

   
}

.user_card_section{
    width: 32.70%;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 2px 4px 8px 0px rgba(45, 48, 61, 25%);
}
.user_photo_section img{
    width: 100%;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}
body.dark_theme .user_card_section{
    background-color: #21232D;
    color: #E4E6F5;
}
body.light_theme .user_card_section{
    background-color: #F4F5FA;
    color: #20232F;
}
h3{
    font-size: 1.5rem;
    letter-spacing: -0.5%;
    margin-bottom: 1rem;
}
.user_position{
    display: flex;
    align-items: center;
    column-gap: 0.375rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}
.user_social_networks{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 1.5rem 0;
    column-gap: 1.5rem;
}
.social_net_wrapper_container{
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    
}
body.dark_theme .social_net_wrapper_container{
    background-color: #1B1D25;
}
body.light_theme .social_net_wrapper_container{
    background-color: #C2C6E2;
}

body.dark_theme .social_net_wrapper_container a svg{
    text-decoration: none;
    color: #E4E6F5;
}
body.light_theme .social_net_wrapper_container a svg{
    text-decoration: none;
    color: #20232F;
}
.hire_user_button{
    width: 100%;
    height: 3.375rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}
body.dark_theme .hire_user_button{
    background-color: #E4E6F5;
    color: #1B1D25;
}
body.light_theme .hire_user_button{
    background-color: #20232F;
    color: #C2C6E2;
}



body.dark_theme .welcome_description_section{
    color: #E4E6F5;
    
}
body.light_theme .welcome_description_section{
    color: #20232F;
}
body.light_theme .animated-text span::after{
    background-color: #C2C6E2;
    border-color: #20232F;
}

.typing-container{
    font-size: 3.5rem;
    font-weight: 800;
    font-family: 'Mulish';
}
.animated-text{
    min-width: 17.5rem;
}
.animated-text span{
    position: relative;
}
.engAnimatedText::before{
    content: "";
    animation: wordsEng 20s infinite;
}
.ukrAnimatedText::before{
    content: "";
    animation: words 20s infinite;
}
.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 0.5rem);
    height: 100%;
    background-color: #1B1D25;
    border-left: 5px solid #E4E6F5;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
    to{
        border-left: 5px solid #fdefea00;
    }
}
@keyframes wordsEng{
    0%,20%{
        content: "am Web-developer";
    }
    21%,40%{
        content: "am Designer";
    }
    41%,60%{
        content: "am Web-developer";
    }
    61%,80%{
        content: "am Designer";
    }
    81%,100%{
        content: "am Web-developer";
    }
}
@keyframes words {
    0%,20%{
        content: "Веб-Розробник";
    }
    21%,40%{
        content: "Дизайнер";
    }
    41%,60%{
        content: "Веб-Розробник";
    }
    61%,80%{
        content: "Дизайнер";
    }
    81%,100%{
        content: "Веб-Розробник";
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 0.5rem);
    }
}

#welcomeSubtitle{
    font-size: 1.5rem;
    margin: 1rem 0 2rem 0;
}
.resume_button{
    border-radius: 1.5rem;
    width: 11.375rem;
    height: 3.5rem;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jura';
    column-gap: 0.5rem;
}
body.dark_theme .resume_button{
    border: 1.6px solid #E4E6F5;
    color: #E4E6F5;
}
body.dark_theme .resume_button svg{
    color: #D9DBF1;
    font-size: 1.563rem;
}
body.light_theme .resume_button svg{
    color: #20232F;
    font-size: 1.563rem;
}
body.light_theme .resume_button{
    border: 1.6px solid #20232F;
    color: #20232F;
}
.user_card_section .resume_button{
    display: none;
}


@media screen and (max-width: 984px){
    main{
        flex-direction: column-reverse;
    }
    .user_card_section{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 0 9rem 0;
        column-gap: 0;
    }
    .user_photo_section{
        width: 47%;
        object-fit: cover;
        margin-bottom: 0;
    }
    .user_photo_section img{
        height: 100%;
        object-fit: cover;
        margin-bottom: 0;
    }
    .user_content_card_section{
        width: 47%;
        display: grid;
        justify-items: center;
    }
    .user_description_section .resume_button{
        display: none;
    }
    .resume_button{
        width: 100%;
        margin: 1rem 0 0 0;
    }
    .user_description_section{
        margin: 8rem 0 2.188rem 0;
    }
    .user_card_section .resume_button{
        display: flex;
    }
}

@media screen and (max-width: 638px){
    .user_card_section{
        width: 100%;
        display: block;
        margin: 0 0 12.75rem 0;
    }
    .user_photo_section{
        width: 100%;
        margin: 0 0 1.5rem 0;
    }
    .user_card_section .resume_button{
        display: flex;
    }
    .user_content_card_section{
        width: 100%;
    }
    .typing-container{
        font-size: 2.75rem;
    }
    #welcomeSubtitle{
        font-size: 1.25rem;
    }
}


.wrapper_main_contents{
    width: 67.3%;
    margin-left: auto;
    padding: 0 3.375rem 2.5rem 0;
}
h4{
    font-size: 2.75rem;
    font-weight: 800;
    letter-spacing: -2%;
    font-family: "Mulish";
    margin: 10rem 0 2.5rem 0;
}
.project_wrapper_section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 3rem;
}
.project_section_content{
    width: 48%;
    position: relative;
    margin-bottom: calc(16.5 * 1rem);
}
.description_of_project_content{
    position: absolute;
    margin: -2rem 0 0 0;
    z-index: 999;
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 3.5rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 2px 4px 8px 0px rgba(45, 48, 61, 25%);
    background: linear-gradient(0deg, #E4E6F5 88%, rgba(173, 173, 173, 0%) 100%);
}
.photo_of_project_content{
    z-index: 1;
}
.description_of_project_title{
    color: #1B1D25;
    font-size: 1.75rem;
    letter-spacing: -2%;
    font-weight: 600;
    font-family: "Mulish";
}
.description_of_project_subtitle{
    color: rgba(27, 29, 37, 0.8);
    margin: 0.5rem 0 1.25rem 0;
    border-bottom: 1px solid rgba(27, 29, 37, 0.8);
    padding: 0 0 0.75rem 0;
    font-family: 'Jura';
    font-size: 1rem;
}
.using_technology_content{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}
.content_technology{
    background-color: #97A1E3;
    color: #E4E6F5;
    border-radius: 6.25rem;
    display: flex;
    padding: 0.5rem 1rem 0.5rem 1rem;
    align-items: center;
    column-gap: 0.5rem;
}
.content_technology p{
    font-size: 0.75rem;
    letter-spacing: -0.5%;
}
.content_technology svg{
    font-size: 1.5rem;
}

.photo_of_project_content img{
    width: 100%;
    z-index: -999;
    
}

body.dark_theme h4, 
body.dark_theme .content_technology{
    color: #E4E6F5;
}
body.light_theme h4,
body.light_theme .content_technology{
    color: #20232F;
}
body.dark_theme .content_technology{
    background-color: #97A1E3;
}
body.light_theme .content_technology{
    background-color: #9BA4DD;
}

@media screen and (max-width: 984px) {
    .project_wrapper_section{
        flex-wrap: nowrap;
        display: grid;
        grid-template-columns: repeat(3, 21.438rem);
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .project_section_content{
        width: 100%;
        height: 16.875rem;
    }
    .wrapper_main_contents{
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }
    .project_wrapper_section::-webkit-scrollbar {
        height: 6px;
    }
    body.light_theme .project_wrapper_section::-webkit-scrollbar-track {
        background: #20232F;
        border-radius: 1rem;
    }
    .project_wrapper_section::-webkit-scrollbar-thumb {
        background-color: #9BA4DD;
        border-radius: 1rem;
    }
    body.dark_theme .project_wrapper_section::-webkit-scrollbar-track {
        background: #E4E6F5;
        border-radius: 1rem;
    }
}

body.dark_theme .about_user_section{
    background-color: #21232D;
}
body.light_theme .about_user_section{
    background-color: #F4F5FA;
}
.about_user_section{
    padding: 0 0.5rem 2.5rem 1.5rem;
}
.about_user_section h4{
    padding: 2.5rem 0 0 0;
}
.about_user_wrapper_container {
    display: grid;
    grid-template-columns: repeat(3, 24.75rem);
    gap: 2rem;
    padding-bottom: 1.5rem;
}
@media screen and (min-width: 984px){
    .about_user_wrapper_container {
        overflow-x: scroll;
    }
    .about_user_wrapper_container::-webkit-scrollbar {
        height: 6px;
    }
    body.light_theme .about_user_wrapper_container::-webkit-scrollbar-track {
        background: #20232F;
        border-radius: 1rem;
    }
    .about_user_wrapper_container::-webkit-scrollbar-thumb {
        background-color: #9BA4DD;
        border-radius: 1rem;
    }
    body.dark_theme .about_user_wrapper_container::-webkit-scrollbar-track {
        background: #E4E6F5;
        border-radius: 1rem;
    }
}




.skills_user_section{
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 1rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
}
body.dark_theme .skills_user_section,
body.dark_theme .education_user_section, 
body.dark_theme .hobi_user_section{
    background-color: #1B1D25;
}
body.light_theme .skills_user_section,
body.light_theme .education_user_section, 
body.light_theme .hobi_user_section{
    background-color: #C2C6E2;
}
.user_photo_content{
    grid-column: 2/4;
    grid-row: 2/3;
}
.user_photo_content img{
   width: 100%;
   border-radius: 1rem;
}
h5{
    font-size: 2.25rem;
    font-weight: 600;
    font-family: "Mulish";
    
    margin-bottom: 1.5rem;
}
body.dark_theme h5, 
body.dark_theme .education_user_section p, 
body.dark_theme .hobi_user_section p{
    color: #E4E6F5;
}
body.light_theme h5, 
body.light_theme .education_user_section p, 
body.light_theme .hobi_user_section p{
    color: #20232F;
}
.progress_bar_content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 0 1.5rem 0;
    border-radius: 6.25rem;
    z-index: 1;
}
body.dark_theme .progress_bar_content{
    background-color: rgba(30, 32, 41, 0.8);
    border: 1px solid #21232D;
}
body.light_theme .progress_bar_content{
    background-color: rgba(227, 229, 244, 0.8);
    border: 1px solid #F4F5FA;
}
.progress_bar_content p{
    font-size: 1rem;
    font-family: "Jura";
    letter-spacing: -0.5%;
}
body.dark_theme .progress_bar_content p{
    color: #E4E6F5;
}
body.light_theme .progress_bar_content p{
    color: #20232F;
}
.progress_bar_content div{
    padding: 0.25rem 0.5rem 0.25rem 0.5rem; 
    font-size: 1rem;
    font-family: "Jura";
    border-radius: 6.25rem;
}
body.light_theme .progress_bar_content div{
    color: #E3E5F4;
    background-color: #9BA4DD;
}
body.dark_theme .progress_bar_content div{
    color: #1E2029;
    background-color: #97A1E3;
}
.progress_bar_skill_container{
    width: 100%;
    position: relative;
}
.progress_bar_content_01{
    width: 85%
}
.progress_bar_content_02{
    width: 75%
}
.progress_bar_content_03{
    width: 65%
}
.progress_bar_content_04{
    width: 50%
}
.progress_bar_content_05{
    width: 85%
}
.progress_bar_content_06{
    width: 75%
}

body.light_theme .for_progress_bar_content_decor{
    background-color: #5B60C6;
    border: 1px solid #F4F5FA;
}
body.dark_theme .for_progress_bar_content_decor{
    background-color: #555BCD;
    border: 1px solid #21232D;
}
.for_progress_bar_content_decor{
    position: absolute;
    height: 3.8rem;
    border-radius: 6.25rem;
    z-index: 0;
    right: 0;
    top: 0; 
}
.for_progress_bar_content_decor_01{
    width: 20%;
}
.for_progress_bar_content_decor_02{
    width: 30%;
}
.for_progress_bar_content_decor_03{
    width: 40%;
}
.for_progress_bar_content_decor_04{
    width: 55%;
}
.for_progress_bar_content_decor_05{
    width: 20%;
}
.for_progress_bar_content_decor_06{
    width: 30%;
}

.education_user_section, .hobi_user_section{
    padding: 1rem;
    border-radius: 1rem;
}
.education_user_section p, .hobi_user_section p{
    font-size: 1rem;
    font-family: 'Jura';
    letter-spacing: -0.5%;
}

@media screen and (min-width: 638px) and (max-width: 984px) {
    .about_user_section{
        margin: 15rem 0 0 0;
        padding: 0 1.5rem 2.5rem 1.5rem;
    }
    .about_user_wrapper_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .skills_user_section{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .education_user_section{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .hobi_user_section{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .user_photo_content{
        grid-column: 1/3;
        grid-row: 2/3;
    }
}
@media screen and (max-width: 638px){
    .about_user_section{
        margin: 15rem 0 0 0;
        padding: 0 1.5rem 2.5rem 1.5rem;
    }
    .about_user_wrapper_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .skills_user_section{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .education_user_section{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .hobi_user_section{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .user_photo_content{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

form{
    margin: 9.25rem 0 0 0;
    padding: 1.5rem;
    border-radius: 1.5rem;
}
body.dark_theme form{
    background-color: #E4E6F5;
}
body.light_theme form{
    background-color: #20232F;
}
.form_title{
    font-size: 2.75rem;
    font-weight: 700;
    font-family: "Mulish";
    letter-spacing: -2%;
    margin-bottom: 2.5rem;
}
body.dark_theme form,
body.dark_theme .input_form_section input, 
body.dark_theme textarea,
body.dark_theme ::placeholder,
body.dark_theme .checkbox_form_title,
body.dark_theme .checkbox_container{
    color: #1E2029;
}
body.light_theme form,
body.light_theme .input_form_section input, 
body.light_theme textarea,
body.light_theme ::placeholder,
body.light_theme .checkbox_form_title,
body.light_theme .checkbox_container{
    color: #E3E5F4;
}
.input_form_section{
    display: grid;
    margin-bottom: 2rem;
}
.input_form_section input, textarea{
    height: 3.375rem;
    margin-bottom: 1rem;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    background: none;
    border: none;
    
    font-size: 1.25rem;
    font-family: "Jura";
    letter-spacing: -0.5%;
}
body.dark_theme .input_form_section input, 
body.dark_theme textarea{
    border-bottom: 1px solid #1E2029;
}
body.light_theme .input_form_section input, 
body.light_theme textarea{
    border-bottom: 1px solid #E3E5F4;
}
textarea{
    height: 7.125rem;
    resize: none;
}
textarea:focus, input:focus{
    outline: none;
}
::placeholder{
    font-size: 1.25rem;
    font-family: "Jura";
    letter-spacing: -0.5%;
}
.checkbox_form_container{
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.checkbox_form_title{
    font-size: 1.25rem;
    font-family: 'Jura';
    letter-spacing: -0.5%;
    margin-bottom: 1rem;
}

.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
.checkbox_container {
    display: block;
    position: relative;
    padding-left: 2.188rem;
    margin-bottom: 1rem;
    cursor: pointer;    
    font-size: 1rem;
    font-family: "Jura";
    letter-spacing: -0.5%;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background: none;
    border: 1.6px solid #3D36BA;
    border-radius: 0.25rem;
}
.checkbox_container input:checked ~ .checkmark {
    background-color: #3D36BA;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox_container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox_container .checkmark:after {
    left: 7.5px;
    top: 3.6px;
    width: 5px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
body.dark_theme .checkbox_container .checkmark:after{
    border: solid #E4E6F5;
    border-width: 0 3px 3px 0;
}
body.light_theme .checkbox_container .checkmark:after{
    border: solid #20232F;
    border-width: 0 3px 3px 0;
}
.form_button{
    min-width: 17.125rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.125rem;
    background-color: #3D36BA;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    color: #E4E6F5;
    font-size: 1.25rem;
    font-family: 'Jura';
}
.form_button svg{
    font-size: 1.563rem;
}

@media screen and (max-width: 984px) {
    .form_button{
        width: 100%;
    }
}
@media screen and (max-width: 639px) {
    .checkbox_form_container{
       display: block;
    }
}


.closed{
    display: none;
}
.open{
    display: grid;
}
